@import url('https://fonts.googleapis.com/css?family=Oswald:300,400');
@font-face {
    font-family: 'bernadette';
    src: url(../fonts/bernadette.ttf);
}


/* ---------------------- MENU */

.menu {
    position: fixed;
    left: -200px;
    width: 260px;
    height: 100%;
    top: 0;
    z-index: 10;
    text-align: center;
}

.menu.menu-open {
    left: 0px;
}

.menu-wrap {
    position: absolute;
    top: 0;
    right: 60px;
    background: #FEE856;
    width: 200px;
    height: 100%;
}

.menu h1.logo a {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0.15em;
    line-height: 40px;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 20px;
    text-decoration: none;
    margin: 40px 0;
}

.menu h1.logo:hover {
    color: #fff;
    text-decoration: none;        
}

.menu a.smoothScroll {
    color: #000;
    display: block;
    font-family: 'Oswald';
    font-size: 18px;
    font-weight: 300;
    line-height: 60px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-decoration: none;
}

.menu a.smoothScroll:hover {
    color: #fff;
    text-decoration: none;
    border-left: 4px solid white;
    background-color: #FABC41; 
}

.menu a.smoothScroll:active {
    color: #bfbaba;
    text-decoration: none;
}

.menu a.smoothScroll > i {
    float: right;
    display: inline-block;
    vertical-align: middle; 
    text-align: right;
    width: 25px;
    font-size: 14px;
    line-height: 40px;
    margin: 25px 2px;
}

.menu-close {
    cursor: pointer;
    display: block;
    position: absolute;
    font-size: 14px;
    color: #808080;
    width: 40px;
    height: 40px;
    line-height: 40px;
    top: 20px;
    left: 5px;
    -webkit-transition: all .1s ease-in-out;
       -moz-transition: all .1s ease-in-out;
        -ms-transition: all .1s ease-in-out;
         -o-transition: all .1s ease-in-out;
            transition: all .1s ease-in-out;
}

.menu-close:hover {
    color: #ffffff;
    -webkit-transition: all .1s ease-in-out;
       -moz-transition: all .1s ease-in-out;
        -ms-transition: all .1s ease-in-out;
         -o-transition: all .1s ease-in-out;
            transition: all .1s ease-in-out;
}

/* Push the body after clicking the menu button */
.body-push {
    overflow-x: hidden;
    position: relative;
    right: 0;
}

.body-push-toright {
    right: 200px;
}

.body-push-toleft {
    right: -200px;
}

.menu,
.body-push {
    -webkit-transition: all .3s ease;
       -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
         -o-transition: all .3s ease;
            transition: all .3s ease;
}

#menuToggle {
    position: absolute;
    top: 20px;
    right: 0;
    z-index: 11;
    display: block;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    background: rgba(0,0,0,0.25);
    -webkit-transition: all .1s ease-in-out;
       -moz-transition: all .1s ease-in-out;
        -ms-transition: all .1s ease-in-out;
         -o-transition: all .1s ease-in-out;
            transition: all .1s ease-in-out;
}

#menuToggle:hover {
    color: #ffffff;
    background: rgba(0,0,0,0.2);
    -webkit-transition: all .1s ease-in-out;
       -moz-transition: all .1s ease-in-out;
        -ms-transition: all .1s ease-in-out;
         -o-transition: all .1s ease-in-out;
            transition: all .1s ease-in-out;
}

.menu-wrap a.logout {
  font-family: 'Oswald';
  font-size: 16px;
  color: #303E27;
  text-transform: uppercase;
  text-decoration: none;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
}

/* ---------------------- END OF MENU */
