@import url('https://fonts.googleapis.com/css?family=Oswald:300,400');
@font-face {
  font-family: 'bernadette';
  src: url(../fonts/bernadette.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  height: 100%;
  outline: 0;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width:5px;
}

::webkit-scrollbar-track {
  -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
  background:rgba(0,0,0,0.8);
  -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
  background:rgba(204,204,204,0.4);
}


/* ---------------- Background images */

body {
  background-color: #fff;
  height: 100%;
}

.food-page h1 {
  font-family: 'bernadette';
  font-size: 80px;
  color: #B74242;
  text-align: center;
  margin-top: 5%;
}

.food-page h4 {
  font-family: 'Oswald';
  font-size: 20px;
  font-weight: 300;
  color: #545454;
  text-align: center;
  text-transform: uppercase;
}

.food-page h4 span {
  font-weight: 400;
  font-size: 20px;
}

input[type="text"] {
  margin-top: 40px;
  width: 900px;
  line-height: 50px;
  font-family: 'Oswald';
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
  padding-left: 15px;
  border: 2px solid #B74242;
}

input[type="text"]:hover,
input[type="text"]:focus {
  outline: none;
  border: 2px solid #E79E85;
}