@import url('https://fonts.googleapis.com/css?family=Oswald:300,400');
@font-face {
  font-family: 'bernadette';
  src: url(../fonts/bernadette.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  outline: 0;
  overflow-x: hidden;
}

/* ---------------- Background images */
.main-banner {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: initial;
  background-size: cover;
  width: 100%;
  height: 100vh;
  text-align: center;
  position: absolute;
  vertical-align: middle;
  display: table;
}

.main-banner {
  background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url(../img/banner4.png);
  animation: xfade 18s 10s infinite;
}
.main-banner.two {
  background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url(../img/banner2.png);
  animation: xfade 18s 6s infinite;
}
.main-banner.three {
  background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url(../img/banner3.png);
  animation: xfade 18s 0s infinite;
}
.main-banner.four {
  background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url(../img/banner1.png);
  animation: xfade 18s 0s infinite;
}

@keyframes xfade{
 0%{
    opacity: 1;
 }
 20% {
    opacity:0;
 }
 40%{
    opacity: 1;
 }
 60% {
    opacity:0;
 }
 80% {
     opacity: 1;
 }
 100% {
     opacity: 1;
 }
}

/* ------------------ End of background-image */

.home-page .first {
  margin-top: 5%;
}

.home-page .second {
  margin-top: 2%;
}

.home-page h2 {
  font-family: 'bernadette';
  font-size: 24px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.7);
}

.home-page .box {
  height: 255px;
  width: 350px;
  background-color: rgba(255, 255, 255, 0.7);
  border-top: 5px solid #a6ce38;
}
