/* MEDIA QUERIES*/

@media only screen and (max-width: 320px) {
  
  #msform {   
    width: 360px;
    margin: 0 auto;
    left: -6%;
    padding-top: 22%;
  }

  #msform h2 {
    font-size: 20px;
  }

  #msform fieldset {
    padding: 20px 30px;
  }

  #msform input,
  #msform select {
    max-height: 20px;
  }

  #msform .action-button {
    max-width: 100px;
    max-height: 35px;
    font-size: 12px;
  }

  #progressbar li {
    font-size: 8px;
    width: 32%;
    left: 2.5%;
  }

}
 
/* Smaller Phones */
@media only screen and (min-width: 321px) and (max-width : 479px) {

  #msform {   
    max-width: 380px;
    margin: 0 auto;
    padding-top: 20%;
  }

  #msform h2 {
    font-size: 20px;
  }

  #msform fieldset {
    padding: 20px 30px;
  }

  #msform input,
  #msform select {
    max-height: 20px;
  }

  #msform .action-button {
    max-width: 100px;
    max-height: 35px;
    font-size: 12px;
  }

  #progressbar li {
    font-size: 8px;
    width: 32%;
    left: 2.5%;
  }

}

/* Regular Phones */
@media only screen and (min-width : 480px) and (max-width : 768px) {

  #msform {   
    max-width: 480px;
    margin: 0 auto;
    padding-top: 13%;
  }

  #msform h2 {
    font-size: 25px;
  }

  #msform fieldset {
    padding: 20px 50px;
  }

  #msform input,
  #msform select {
    max-height: 40px;
  }

  #msform .action-button {
    max-width: 100px;
    max-height: 35px;
    font-size: 12px;
  }

  #progressbar li {
    font-size: 10px;
    width: 32%;
    left: 2.5%;
  }
  
}

 /* Tablet */
@media only screen and (min-width : 769px) and (max-width : 1200px) {
  


}
