@import url('https://fonts.googleapis.com/css?family=Oswald:300,400');
@font-face {
  font-family: 'bernadette';
  src: url(../fonts/bernadette.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  height: 100%;
  outline: 0;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width:5px;
}

::webkit-scrollbar-track {
  -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
  background:rgba(0,0,0,0.8);
  -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
  background:rgba(204,204,204,0.4);
}


/* ---------------- Background images */

body {
  background-color: #fff;
  height: 100%;
}

.sleep-page h1 {
  font-family: 'bernadette';
  font-size: 80px;
  color: #424a60;
  text-align: center;
  margin-top: 5%;
}

.sleep-page h4 {
  font-family: 'Oswald';
  font-size: 20px;
  font-weight: 300;
  color: #545454;
  text-align: center;
  text-transform: uppercase;
}

.sleep-page h4 span {
  font-weight: 400;
  font-size: 20px;
}

.sleep-page h5 {
  font-family: 'Oswald';
  font-size: 15px;
  font-weight: 300;
  color: #545454;
  text-align: center;
  text-transform: uppercase;
}

.sleep-page .row {
  margin: 40px auto;
}

.sleep-page a {
  text-decoration: none;
}

.sleep-page .row img {
  max-height: 120px;
}

.sleep-page h6 {
  font-family: 'Oswald';
  font-size: 16px;
  font-weight: 400;
  color: #FF895D;
  text-align: center;
  text-transform: uppercase;
  margin-top: 3.5%;
}

.clock {
  border: 5px solid #10316B;
  border-radius: 100%;
  display: block;
  height: 270px;
  width: 270px;
  position: relative;
  margin-top: 14%;
}
.clock .hour {
  background: #10316B;
  height: 0;
  left: 50%;
  position: absolute;
  top: 50%;
  width: 0;
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  margin: -60px -2px 0;
  padding: 60px 2px 0;
}
.clock .minute {
  background: #364F6B;
  height: 0;
  left: 50%;
  position: absolute;
  top: 50%;
  width: 0;
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  margin: -105px -2px 0;
  padding: 105px 2px 0;
}

.sleep-page h3 {
  font-family: 'Oswald';
  font-size: 30px;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 13%;
}

.sleep-page input[type="text"] {
  width: 290px;
  line-height: 50px;
  font-family: 'Oswald';
  font-weight: 400;
  text-transform: uppercase;
  padding-left: 10px;
  border: 3px solid #34495E;
}

.sleep-page input[type="text"]:hover,
.sleep-page input[type="text"]:focus {
  outline: none;
  border: 3px solid #BDC3C7;
}


.sleep-page h4.burnCal {
  font-family: 'Oswald';
  font-size: 210px;
  font-weight: 300;
  color: #282F44;
  margin-top: 10%;
  margin-left: 8%;
}

.sleep-page h4.desc {
  font-family: 'Oswald';
  font-size: 35px;
  font-weight: 300;
  color: #3C3C3C;
  margin-left: 10%;
}

