@import url('https://fonts.googleapis.com/css?family=Oswald:300,400');
@font-face {
  font-family: 'bernadette';
  src: url(../fonts/bernadette.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  height: 100%;
  outline: 0;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width:5px;
}

::webkit-scrollbar-track {
  -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
  background:rgba(0,0,0,0.8);
  -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
  background:rgba(204,204,204,0.4);
}


/* ---------------- Background images */

body {
  background: url("../img/sleep.png") no-repeat center center fixed;
    -webkit-backgorund-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}

.sleep-page h1 {
  font-family: 'bernadette';
  font-size: 80px;
  color: #fff;
  text-align: center;
  margin-top: 5%;
}

.sleep-page h4 {
  font-family: 'Oswald';
  font-size: 20px;
  font-weight: 300;
  color: #545454;
  text-align: center;
  text-transform: uppercase;
}

.sleep-page h4 span {
  font-weight: 400;
  font-size: 20px;
}

.sleep-page h5 {
  font-family: 'Oswald';
  font-size: 15px;
  font-weight: 300;
  color: #545454;
  text-align: center;
  text-transform: uppercase;
}

.sleep-page .row {
  margin: 40px auto;
}

.sleep-page a {
  text-decoration: none;
}

.sleep-page .row img {
  max-height: 120px;
}

.sleep-page h6 {
  font-family: 'Oswald';
  font-size: 16px;
  font-weight: 400;
  color: #FF895D;
  text-align: center;
  text-transform: uppercase;
  margin-top: 3.5%;
}

.clock {
  border: 5px solid #fff;
  border-radius: 100%;
  display: block;
  height: 270px;
  width: 270px;
  position: relative;
  margin-top: 14%;
}
.clock .hour {
  background: #F6F5F5;
  height: 0;
  left: 50%;
  position: absolute;
  top: 50%;
  width: 0;
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  margin: -60px -2px 0;
  padding: 60px 2px 0;
}
.clock .minute {
  background: #F6F5F5;
  height: 0;
  left: 50%;
  position: absolute;
  top: 50%;
  width: 0;
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  margin: -105px -2px 0;
  padding: 105px 2px 0;
}

.sleep-page h3 {
  font-family: 'Oswald';
  font-size: 30px;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 13%;
  color: #fff;
}

div.middle {
  margin-top: -20px;
}

.sleep-page input[type="time"] {
  width: 290px;
  line-height: 50px;
  font-family: 'Oswald';
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 3px solid #fff;
  font-size: 22px;
  text-align: center;
  background-color: transparent;
  color: #fff;
}

.sleep-page input[type="time"]:hover,
.sleep-page input[type="time"]:focus {
  outline: none;
  border: 3px solid #BDC3C7;
}


.sleep-page h4.sleepStatus {
  font-family: 'Oswald';
  font-size: 105px;
  font-weight: 300;
  color: #fff;
  margin-top: 10%;
  margin-left: 8%;
  margin-bottom: 5%;
}

.sleep-page h4.sleepDesc,
.sleep-page h4.sleepDesc span,
.sleep-page h4.desc,
.sleep-page h4.desc span {
  font-family: 'Oswald';
  font-size: 20px;
  font-weight: 300;
  color: #fff;
  margin-left: 10%;
}

.sleep-page h4.sleepDesc span,
.sleep-page h4.desc span {
  margin-left: 1%;
}

input[type="submit"] {
  outline: none;
  border: none;
  height: 45px;
  width: 290px;
  color: #fff;
  font-family: 'Oswald';
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  border: 2px solid #fff;
  background-color: transparent;
  line-height: 20px;
  font-size: 14px;
  margin-top: 10%;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
  background-color: #fff;
  color: #34495E;
}