@import url('https://fonts.googleapis.com/css?family=Oswald:300,400');
@font-face {
  font-family: 'bernadette';
  src: url(../fonts/bernadette.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  height: 100%;
  outline: 0;
  overflow-x: hidden;
  background-color: #fff;
}

::-webkit-scrollbar {
  width:5px;
}

::webkit-scrollbar-track {
  -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
  background:rgba(0,0,0,0.8);
  -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
  background:rgba(204,204,204,0.4);
}


/* ---------------- Background images */

body {
    background: url("../img/water.png") no-repeat center center fixed;
    -webkit-backgorund-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%
}

.water-page h1 {
  font-family: 'bernadette';
  font-size: 80px;
  color: #007fb2;
  text-align: center;
  margin-top: 5%;
}

.water-page h6 {
  font-family: 'Oswald';
  font-size: 18px;
  font-weight: 300;
  color: #545454;
  text-align: center;
  text-transform: uppercase;
}

.water-page h3 {
  font-family: 'Oswald';
  font-size: 20px;
  font-weight: 400;
  color: #4a545d;
  text-align: center;
  text-transform: uppercase;
}

.row #urine-list {
  margin-top: 3%;
}

.row #color-list {
  margin: 10% auto;
}

input[type=radio] {
  display: none;
}

label {
  display: block;
  width: 80px;
  height: 80px;
  outline: 0;
  border: 3px solid #d7d7d7;
  margin-top: 10px;
}

input[type="radio"]:checked+label{ border: 3px solid #007fb2; } 

label.urine-one { background: #fffde9; }
label.urine-two { background: #fefac6; }
label.urine-three { background: #fdea8c; }
label.urine-four { background: #fddb6c; }
label.urine-five { background: #fcc839; }
label.urine-six { background: #f5b836; }
label.urine-seven { background: #dea52b; }

.water-page .glass img {
  margin-top: 8%;
  max-height: 210px;
}

.water-page .center {
  width: 150px;
  margin: 10% auto;
}

.water-page .center button {
  border-radius: 0px;
  background-color: #c5c5c5;
}

.water-page .center button:hover,
.water-page .center button:focus {
  background-color: #01a2e3;
  outline: 0;
}

.water-page .center input {
  font-family: 'Oswald';
  font-weight: 300;
  text-align: center;
}

.water-page h4 {
  font-family: 'Oswald';
  font-size: 170px;
  font-weight: 300;
  color: #007fb2;
  margin-top: 5%;
}

.water-page h5 {
  font-family: 'Oswald';
  font-size: 30px;
  font-weight: 300;
  color: #007fb2;
  margin-bottom: 5%;
}

.water-page p {
  font-family: 'Oswald';
  font-size: 18px;
  font-weight: 300;
}

.water-page p span {
  font-family: 'Oswald';
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

.water-page .high {
  color: #B31313;
}

.water-page .medium {
  color: #EE7738;
}

.water-page .normal {
  color: #90D26D;
}

.water-page .low {
  color: #104455;
}

.water-page input#submitted {
  outline: none;
  border: none;
  height: 40px;
  width: 150px;
  margin-top: -5%;
  color: #007fb2;
  font-family: 'Oswald';
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  border: 2px solid #007fb2;
  background-color: transparent;
  line-height: 20px;
  font-size: 14px;
  margin-bottom: 20px;
}

.water-page input#submitted:hover {
  background-color: #007fb2;
  color: #fff;
}